.footer {
    padding: 20px;
    text-align: center;
    color: rgb(145, 26, 56);
    background-color: #fdd1d4;
    background-size: cover;
    height: 40px;
}

.footer h1 {
    font-size: 20px;
}

.footer img {
    margin-top: 10px;
    width: 40vw;
    height: 60vh;
}